.Section {
    margin-bottom: 5px;
}

.Author {
    font-weight: bold;
    font-size: large;
    height: 35px;
    line-height: 35px;
}

.Author img {
    height: 35px;
}

.Title {
    width: 100%;
    background: #007BFF;
    color: white;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.More {
    width: 100%;
    display: inline-block;
    background: #007BFF;
    color: white;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.Image {
    margin: 0 auto 5px auto;
    display: flex;
    border-radius: 3px;
}

.Info {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
}

.Info .Important {
    margin-bottom: 0;
    font-weight: bold;
}

.LikeSection {
    position: relative;
    width: 100%;
    background: #007BFF;
    color: white;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    margin: 5px 0;
    height: 25px;
    line-height: 25px;
}

.Comment {

}

.Like {
    right: 5px;
    position: absolute;
}

.T1 {
    background: black;
}

.T2 {
    color: red;
}
