.CustomFooter {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
}

.CustomFooter p {
     margin: 0;
     padding: 10px;
}

